* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
}

body {
}

.name {
        display: block;
        width: 100px;
        margin: 30px auto;
}

.site_nav {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: 20px auto;

    div {
        margin: 5px;
    }

    h3 a {
        font-weight: 400;
        color: black;
        text-decoration: none;
    }
}

.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {
    display:flex;
    justify-content: space-between;
    width: 600px;

    #counter {
        font-size: 150px;
        color: white;
        display: block;
        background-color: black;
        border-radius: 5px;
        width: 320px;
        height: 180px;
        text-align: center;
        }
    
    h2 {
        display: flex;
        font-size: 48px;
        margin: 0 0 0 10px;
        width: 250px;
    }
}

.journal {
    display: block;
    padding: 0;
    width: 400px;
    text-align: center;
    
    div {
        display: flex;
    }

    h1 {
        font-size: 56px;
        font-weight: 200;
        margin: 0;
    }

    h2 {
        font-size: 48px;
        font-weight: 200;
        width: 300px;
    }

    .desk_logo {
        display:block;
        width: 110px;
    }
}


